.fourfivesix{
  font-size: 20pt;
}
#before-japan{
  font-size: 20pt;
  display: none;
}
#studied-in-japan{
  font-size: 20pt;
  display: none;
}
#work-in-japan{
  font-size: 20pt;
  display: none;
}
.featherlight .featherlight-inner {
  display: block !important;
}

a {
  text-decoration: none;
}
